<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">{{detailsData.f_FullName}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="openEditModal(detailsData)"><i class="icon ion-ios-compose-outline"></i></button>
            <button class="button button-clear" style="margin-left:5px;" ng-click="doDelete(detailsData)"><i class="icon ion-ios-trash-outline"></i></button>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="businessDetailHandle">
        <ion-list>
            <ion-item style="color: rgba(0, 0, 0, 0.5);font-size: 12px;padding: 2px 10px;">
                <div><span class="balanced">{{detailsData.f_CreateUserName}}</span> 创建于 {{detailsData.f_CreateDate}}</div>
                <div ng-hide="!detailsData.f_ModifyUserName"><span class="balanced">{{detailsData.f_ModifyUserName}}</span> 修改于 {{detailsData.f_ModifyDate}}</div>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>商机编号</span>
                </div>
                <span>{{detailsData.f_EnCode}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>商机名称</span>
                </div>
                <span>{{detailsData.f_FullName}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>跟进人员</span>
                </div>
                <span>{{detailsData.f_TraceUserName}}</span>
            </ion-item>
            <!--<ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>商机类别</span>
                </div>
                <span class="lr-label positive-bg">{{detailsData.chanceTypeId}}</span>
            </ion-item>-->
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>商机来源</span>
                </div>
                <span class="lr-label royal-bg">{{detailsData.f_SourceId}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>商机阶段</span>
                </div>
                <span class="lr-label {{detailsData.f_BgStageColor}}">{{detailsData.f_StageId}}</span>
            </ion-item>

            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>预计金额</span>
                </div>
                <span>{{detailsData.f_Amount}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>预计利润</span>
                </div>
                <span>{{detailsData.f_Profit}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>预计成交</span>
                </div>
                <span>{{detailsData.f_DealDate}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>销售费用</span>
                </div>
                <span>{{detailsData.f_SaleCost}}</span>
            </ion-item>

            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>成功率%</span>
                </div>
                <span>{{detailsData.f_SuccessRate}}%</span>
            </ion-item>

            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>公司名称</span>
                </div>
                <span>{{detailsData.f_CompanyName}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>公司情况</span>
                </div>
                <span>{{detailsData.f_CompanyDesc}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>公司行业</span>
                </div>
                <span>{{detailsData.f_CompanyNatureId}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>公司网站</span>
                </div>
                <span>{{detailsData.f_CompanySite}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>所在省份</span>
                </div>
                <span>{{detailsData.f_Province}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>所在城市</span>
                </div>
                <span>{{detailsData.f_City}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>联系人</span>
                </div>
                <span class="positive">{{detailsData.f_Contacts}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>手机</span>
                </div>
                <span class="positive">{{detailsData.f_Mobile}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>电话</span>
                </div>
                <span class="positive">{{detailsData.f_Tel}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>传真</span>
                </div>
                <span class="positive">{{detailsData.f_Fax}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>QQ</span>
                </div>
                <span class="positive">{{detailsData.f_QQ}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>Email</span>
                </div>
                <span class="positive">{{detailsData.f_Email}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>微信</span>
                </div>
                <span class="positive">{{detailsData.f_Wechat}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>爱好</span>
                </div>
                <span>{{detailsData.f_Hobby}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>备注</span>
                </div>
                <span>{{detailsData.f_Description}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
