<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="LeaRun.Data.IDatabase,LeaRun.Data" />
    <typeAlias alias="MySql" type="LeaRun.Data.EF.MySqlDatabase,LeaRun.Data.EF" />
    <typeAlias alias="SqlServer" type="LeaRun.Data.EF.SqlserverDatabase,LeaRun.Data.EF" />
    <typeAlias alias="Oracle" type="LeaRun.Data.EF.OracleDatabase,LeaRun.Data.EF" />

    <typeAlias alias="ILeaWorkFLow" type=" LeaRun.WorkFlow.ILeaWorkFlow, LeaRun.WorkFlow" />
    <typeAlias alias="LeaWorkFlow" type=" LeaRun.WorkFlow.LeaWorkFlow, LeaRun.WorkFlow" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="SqlServer" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>
    <container name="WorkFlowcontainer">
      <type type="ILeaWorkFLow" mapTo="LeaWorkFlow" ></type >
    </container>
  </containers>
</unity>