<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=123.57.22.108)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=VNorcl)));User Id=system;Password=Vane506;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <!--<add name="BaseDb" connectionString="Server=192.168.0.12;Initial Catalog=demo;User ID=sa;Password=qwert12345" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=123.57.22.108)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=LeaRun)));User Id=CMP;Password=vane;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=991835" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Server=293E;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />-->
  <!--<add name="AccountDb" connectionString="Server=192.168.0.12;Initial Catalog=Learun_account;User ID=learun;Password=qwert12345" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="server=192.168.0.12;user id=learun;password=learun.com;database=learunDb;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.12)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=learun)));User Id=learun;Password=qwert12345;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="293E" connectionString="Server=192.168.0.12;Initial Catalog=demo;User ID=sa;Password=qwert12345" providerName="System.Data.SqlClient" />
  <add name="buesiness" connectionString="Server=293E;Initial Catalog=zhuwang;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />
  <add name="orcl" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=123.57.22.108)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=CMP;Password=vane;" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>